<% icons.forEach(function (icon) { %>
.<%- icon.name %> {
  background-image: url(<%= backgroundUrl %>);
  background-position: <%- -icon.left %>px <%- -icon.top %>px;
  width: <%- icon.width %>px;
  height: <%- icon.height %>px;
}
<% }) %>
